{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="zh-TW">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center m-3 mt-10">
				<h1 class="text-5xl"><a href="{% url "blog:list" %}">My blog</a></h1>
			</section>
            <main class="class="min-h-screen bg-gray-100">
                <hr>
                {% block content %}
                {% endblock %}
            </main>
		</div>
	</body>
</html>
